
body{
    background-color: #292525;
    color: white;
}

html{
    font-size: 19px;
}
.borderNavbar {
    border-left: 1px solid white !important;
}

.marginSelectRegisterForm{
    margin-left: 0.8rem;
}

.nonStyleLinks{
    text-decoration: none !important;
    color: white;
}
.nonStyleLinks:hover{
    color: red;
}
.stylesTextarea{
    overflow-y: scroll;
    resize: none;
}
.slick-dots li button:before {
    font-size: 9px !important;/*Tamaño de la esfera*/
    width: 9px !important;/*Tamaño del rectangulo*/
    height: 9px !important;
    line-height: 10px;  /*Altura de la esfera*/
    background-color: #fff !important;
    color: #fff !important;
    opacity: 1 !important;
}
.slick-dots li.slick-active button:before{
    font-size: 9px !important;/*Tamaño de la esfera*/
    width: 9px !important;/*Tamaño del rectangulo*/
    height: 9px !important;
    line-height: 10px;  /*Altura de la esfera*/
    color:#E1251B !important;
    background-color:#E1251B !important;
    opacity: 1 !important;
}

.slick-slider .banner-slide{
    height: 250px;
    max-height: 250px;
}
.slick-slide {
    outline: none;
}
.slick-slider .banner-slide > img{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
figure img{
    width: 100%;
    height: auto;
}
.border-custom{
    border-right: 1px solid white;
}
.textarea-styles{
    background: transparent;
    border: none;
    color: white;
    resize: none;
    width: 100%;
    outline: none;
}
.styles-box-comment{
    resize: none;
    height: 200px;
}
.style-warning-comment{
    background-color: #c33030;
    border-radius: 10px;
    border: 2px solid white;
    padding: 0.25rem 0.5rem;
}
.size-photo-user-comment{
    width: 70px;
    height: 50px;
}
.img-fluid{
    height: 100% !important;
}
.style-box-comment-core{
    box-shadow: 0px 2px 20px 5px white;
    border-radius: 10px;
}
.size-valoration-box-comment{
    max-width: 150px;
}
.text-number-valorations{
    color: #faa200;
}
.bg-profile{
    background: url("../imgs/bg-profile-view.jpg") no-repeat center / cover;
    border-radius: 10px;
}
.bg-profile span{
    box-shadow: gray;
}
.box-shadow-cust-name{
    box-shadow: 0px 30px 32px 12px #ffffff;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.box-shadow-cust-email{
    box-shadow: 0px 16px 32px 12px #ffffff;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.box-shadow-cust-dates{
    box-shadow: 0px 10px 32px 12px #ffffff;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.user-photo-view figure{
    max-width: 160px;
}
.user-photo-view img{
    width: 160px;
    height: 100px;
}

.user-commt-info a{
    text-decoration: none;
    color: white;
    color: white;
}
.styles-bio-visiting{
    background: transparent;
    color: white;
    border: none;
    resize: none;
}
.styles-bio-visiting:focus-visible{
    outline: none;
}
.mobile-extended{}
/* Estilos star rating */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.star_content {
    margin-bottom: 5px;
    float: left;
    width: 100%;
}

.graphic-valoration .star{
    position: relative;
    top: -1px;
    float: left;
    width: 35px;
    overflow: hidden;
    cursor: pointer;
    font-size: 30px;
    font-weight: normal;
    height: 40px;
}
.star {
    overflow: hidden;
    float: left;
    margin: 0 1px 0 0;
    width: 16px;
    height: 18px;
    cursor: pointer;
}

.star a {
    display: block;
    width: 100%;
    background-position: 0 0;
}

.star {
    position: relative;
    top: -1px;
    float: left;
    width: 14px;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
}

.star a {
    display: block;
    position: absolute;
    text-indent: -5000px;
}

div.star:after {
    content: "\f006";
    font-family: "FontAwesome";
    display: inline-block;
    color: #777676;
}

div.star.star_on {
    display: block;
}

div.star.star_on:after {
    content: "\f005";
    font-family: "FontAwesome";
    display: inline-block;
    color: #ef8743;
}

div.star.star_hover:after {
    content: "\f005";
    font-family: "FontAwesome";
    display: inline-block;
    color: #ef8743;
}
.boxPhotoSelection img{
    max-height: 293px !important;
}
.maximum-height-title{
    max-height: 25px !important;
}
.maximum-width-photo-view{
    max-width: 280px !important;
}
.results-searching{
    position: absolute;
    z-index: 2;
    top: calc(0% + 44px);
    background-color: white;
    border-radius: 10px;
    width: 150%;
}
.results-searching{
    display: none;
}
.navbar-brand figure{
    max-width: 150px;
}
/* Cambio de navbar */
@media (min-width: 992px){

}
@media (max-width: 1199px) and (min-width:993px){
    .stylesTextarea{
        max-width: 730px;
    }
}
@media (max-width: 992px) and (min-width:768px){
    .stylesTextarea{
        max-width: 530px;
    }
    .results-searching{
        top: calc(0% + 178px);
        width: 45%;
    }
}
@media (max-width: 767px){
    .stylesTextarea{
        max-width: 252px;
    }
    .results-searching{
        top: calc(0% + 178px);
        width: 90%;
    }
}
@media (max-width: 576px){
    .box-shadow-cust-name,.box-shadow-cust-email,.box-shadow-cust-dates{
        box-shadow: none;
    }
    .mobile-extended{
        width: 100% !important;
    }
}
@media (max-width: 400px){
    .slick-dots{
        /*bottom: -55px !important;*/
    }
}
